# =============================================================================
# Security Role - Handlers
# =============================================================================
---
- name: Restart SSH
  systemd:
    name: sshd
    state: restarted

- name: Restart kubelet
  systemd:
    name: kubelet
    state: restarted
    daemon_reload: yes

